/ Copyright (C) 2017 Enproduktion GmbH
/
/ This file is part of 3gears.
/
/ 3gears is free software: you can redistribute it and/or modify
/ it under the terms of the GNU General Public License as published by
/ the Free Software Foundation, either version 3 of the License, or
/ (at your option) any later version.
/
/ This program is distributed in the hope that it will be useful,
/ but WITHOUT ANY WARRANTY; without even the implied warranty of
/ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/ GNU General Public License for more details.
/
/ You should have received a copy of the GNU General Public License
/ along with this program.  If not, see <http://www.gnu.org/licenses/>.

.medium_status_display{ "data-controller" => medium_status_path(medium)}
  %h1.spinner{title: medium.status}
    .sk-cube-grid
      .sk-cube.sk-cube1
      .sk-cube.sk-cube2
      .sk-cube.sk-cube3
      .sk-cube.sk-cube4
      .sk-cube.sk-cube5
      .sk-cube.sk-cube6
      .sk-cube.sk-cube7
      .sk-cube.sk-cube8
      .sk-cube.sk-cube9
